

*{
  box-sizing: border-box;
}

html,body{
  margin:0;
  padding:0;
  height:100%;
}


  /* PARALLAX start*/
.page-container{
  display: flex;
  align-items: left;
}

@media (max-width: 1000px){
  .page-container{
    flex-wrap: wrap;
  }
}

.left, .right{
  width:50%;
}

  @media(max-width:1000px){
    .left, .right{
      width:100%;
    }
  }
.first{
  height: 33%;
}
.second{
  height: 34%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px

}
.hometitle{
  height: 20%;
}
.homecontent{
  height: 50%;
  padding:20px;
}
.apply{
  text-align: center;
  font-weight: bolder;
  color: #FDEEDC;
}
.mema{
  font-size: 20px;
  color: #FDEEDC;
}
.button{
  height:30%;
  width: 100%;
  justify-content: center;
  text-align: center;



}
.g{
  margin-top: 0px;
  margin-bottom: 30px;
  width: 90%;
  height: 80%;
  background: linear-gradient(-135deg, #FFD8A9, #FBDF07);
  border: none;
  letter-spacing: 5px;
  font-size: 20px;
  border-radius: 10px;


}
.g:hover{
  background: linear-gradient(135deg, #FFD8A9, #FBDF07);
}
.g:active{
  opacity: 50%;
}
.third{
  height: 33%;
}
.inpic{
  border: 50px 50px 50px 50x;
  outline-color: invert;
  padding: 25px;
  border-color: red;
  width: 50%;
  height: 100%;
  position: absolute;
  background: transparent;
  box-sizing: border-box;
}

.mainpage{
  height: 100%;
  background: url('../image/bgserious4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.picbg{
  /* background: url('../image/bgserious.jpg');
  position:fixed;
  background-size:cover;
  background-position: center; */
  width: 100%;
  ;
}


    @media(max-width:1000px){
        .left{
        position:relative;
        }
      }


    .right{
      margin-left:50%;
      min-height:100vh;
      bacgkround:white;
      padding:3rem;
    }

    /* PARALLAX ENDS*/
.navbar-collapse .navbar-nav .nav-link {
    text-align: center;
    padding: 0.5rem;
    margin: 0.6rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.active{
    color:red !important;
}

.nav-link{

font-size: 1.2rem;
}


.title {
    font-size: 3.8rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.container-right{
  padding: 2rem;
  background: #FDEEDC;
}

.whyA-body:after {
  margin-left: 5%;
  content: "";
  display: table;
  clear: both;
}



.column{
  float: left;
  width: 50%;
  padding: 2%;
  height: 50%;
}

.icon i{
	color: #212529;
	font-size: 45px;
	margin-bottom: 25px;
}

.afterIcon {
  margin-right: 20px;
}

.content1{
  position: relative;
  height: 100%;
  width: 50%;
  margin-right: 3rem;
}
.content1bg{

height: 100%;
width: 50%;
}
.tite{
  margin-left: 200px;
}
.navtitle{
  font-family: 'Roland';
  src:url(../RondalBold.otf);
  font-weight: bold;
  font-size: 45px;
  color: gold;
}
.b{
  font-size: 60px;
}
